<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head (title=${title})"></head>
<body>
    <nav th:replace="partials/partials :: navbar"></nav>

    <div class="container">
        <h1>Single Post</h1>

        <h2 th:text="${post.title}"></h2>
        <a th:href="'mailto:' + ${post.user.email}" th:text="'Created by: ' + ${post.user.email}"></a>
        <p th:text="${post.body}"></p>

        <a th:href="@{'/post/update/' + ${post.id}}" class="btn btn-success">Edit</a> <a th:href="@{'/post/delete/' + ${post.id}}" class="btn btn-danger">Delete</a>
    </div>

    <footer th:replace="partials/partials :: footer"></footer>
    <th:block th:replace="partials/partials :: scripts"></th:block>
</body>
</html>